/* General body styles to match the home page */
body {
    margin: 20px;
    padding-top: 60px;
    font-family: Arial, sans-serif;
    background-color: #EDEAE7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Main container styles */
.content-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #EDEAE7;
}

/* Heading styles */
.content-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* People container styles */
.people-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    max-width: 1000px;
}

/* Individual person styles */
.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.person a {
    text-decoration: none;
    color: inherit;
}

.person img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person-name {
    margin-top: 10px;
}

.person-name p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.person-name a {
    color: blue;
    margin-left: 5px;
}

.person-name a:hover {
    color: darkblue;
}

/* Media queries to adjust content width on different devices */
@media (max-width: 600px) {
    .content-container {
        padding: 10px;
    }

    .person {
        width: 150px;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    .content-container {
        padding: 15px;
    }

    .person {
        width: 175px;
    }
}

@media (min-width: 993px) {
    .content-container {
        padding: 20px;
    }
}